/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .eighties { background-color: #EDC951; }
.legend .nineties { background-color: #CC333F; }
.legend .thousand { background-color: #00A0B0; }
.legend .tens { background-color: #2bc430; }